// Header styles

@use "sass:color";
@import 'base.theme';

// Container styles
// Sets up the layout for the header container
#headerContainer {
    background-color: $header-background-color;
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5px 5px 0;
    position: relative;
    border-bottom: 1px solid $table-border-color;
}

// Button container styles
// Defines layout for the button container
.button-container {
    display: flex;
    justify-content: flex-start;
    height: 35px;
    margin-bottom: -1px;
}

// Settings buttons styles
// Styles for the settings buttons in the header
.settings-buttons {
    display: flex;
    gap: 5px;
    height: 100%;
}

.settings-buttons button {
    padding: 0 8px;
    font-size: 0.75em;
    background-color: color.scale($default-button-color, $lightness: -10%);
    border: 1px solid $table-border-color;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    height: 100%;
    transition: background-color 0.3s ease;

    &:hover:not(:disabled) {
        background-color: color.scale($default-button-color, $lightness: -20%);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        background-color: color.scale($default-button-color, $lightness: 10%);
    }
}

// Search component styles
// Styles for the search functionality in the header
.search-container {
    position: absolute;
    right: 10px;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: color.scale($header-background-color, $lightness: -10%);
    transition: all $transition-duration ease-in-out;
    overflow: hidden;
    border: 1px solid $text-color;
}

#searchInput {
    width: 0;
    padding: 0 24px 0 8px;
    border: none;
    outline: none;
    background-color: transparent;
    color: $text-color;
    font-size: 12px;
    transition: width $transition-duration ease-in-out, opacity $transition-duration ease-in-out;
    opacity: 0;
}

.icon-circle {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 0 12px 12px 0;
    background-color: color.scale($header-background-color, $lightness: -10%);
    cursor: pointer;
}

#searchIcon {
    fill: $text-color;
    width: 14px;
    height: 14px;
}

.search-container.disabled {
    pointer-events: none;
}