// Load and save styles

@use "sass:color";
@use 'base.theme' as *;

// Root variables
// Defines CSS variables for global use
:root {
    --progress-bar-background: #{$progress-bar-background};
    --progress-bar-background-replace: #{$progress-bar};
    --progress-bar-transition: width calc(#{$transition-duration} * 2) ease-out;
    --loader-color: #{$text-color};
    --loader-size: 65px;
    --loader-speed: 7s;
  }

// Container styles
.main-container {
    height: 100vh;
    width: 100%;
    position: relative;
}

.logo-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        width: 475px;
        height: 475px;
        border-radius: 50%;
        background: radial-gradient(circle, 
            #000000 60%, 
            rgba($background-color, 0.9) 70%,
            rgba($background-color, 0.7) 80%,
            rgba($background-color, 0.4) 90%,
            rgba($background-color, 0.1) 95%,
            rgba($background-color, 0) 100%);
        z-index: -1;
        animation: fadeIn calc($transition-duration * 4) ease-in;
        margin-top: 65px;
    }
}

.loading-status-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

.loading-status-left {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.loading-status-right {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    margin-right: -15px;
    
    #loaderContainer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// Logo styles
.init-logo {
    height: 85%;
    width: auto;
    max-height: 512px;
    max-width: 512px;
    object-fit: contain;
    animation: fadeIn calc($transition-duration * 4) ease-in;
    margin-top: 65px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

// Text styles
.init-text {
    font-size: 1.8em;
    margin: 0;
    color: $text-color;
}

// Files container
#filesContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-height: 60px;
}

#currentFile, #categoryFile {
    font-size: 1.2em;
    color: $text-color;
    line-height: 1.2;
    margin: 0;
}

// File display area
#fileDisplayArea {
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    margin: 0;
    margin-top: -20px;
    min-height: 30px;
}

// Loaded files container
#loadedFiles {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
}

// Loaded file
.loaded-file {
    font-size: 1em;
    opacity: 0.5;
    transition: all 0.4s ease-out;
    transform: translateY(0);
    text-align: center;
    color: $text-color;
    position: relative;
}

.loaded-file.fade-out {
    opacity: 0;
    transform: translateY(15px);
}

// Status message
#statusMessageContainer {
    padding: 5px 0;
}

#statusMessage {
    font-size: 1em;
    color: $text-color;
    opacity: 0.6;
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 0.4;
}

// Save dialog
// Styles for the save dialog box
.save-dialog {
    display: none;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $launch-dialog-background-color;
    border: 1px solid $launch-dialog-border-color;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px $launch-dialog-box-shadow;
    width: 400px;
    max-width: 80%;
    font-family: $font-family;

    .save-dialog-content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .save-progress-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .save-header, .reload-header {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .save-header-main, .reload-header-main,
    .save-header-sub, .reload-header-sub {
        font-size: 1em;
        color: $text-color;
    }

    .save-header-category, .reload-header-category {
        font-size: 0.9em;
        color: $text-color-muted;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .save-progress-container {
        position: relative;
        width: 100%;
        height: 20px;
        margin: 10px 0;
    }

    .save-percentage, .reload-percentage {
        position: absolute;
        font-size: 0.8em;
        font-weight: bold;
        color: $text-color;
    }

    .save-percentage {
        top: -20px;
        left: 0;
    }

    .reload-percentage {
        bottom: -20px;
        right: 0;
    }

    .save-progress-bar {
        width: 100%;
        height: 100%;
        background-color: var(--progress-bar-background);
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid $table-border-color;
    }

    #saveProgressBar {
        width: 0;
        height: 100%;
        background-color: $progress-bar;
        transition: var(--progress-bar-transition);

        &.reloading {
            background-color: $progress-bar-secondary;
        }
    }
}