// Pagination styles

@use "sass:color";
@import 'base.theme';

// Container styles
// Sets up the layout for the pagination wrapper
#paginationWrapper {
    display: flex;
    justify-content: center;
    max-height: 30px;
}

.pagination-wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: $background-color;
    z-index: 1;
    padding: 10px 0;
}

// Control styles
// Defines the layout for pagination controls
.custom-pagination-controls {
    display: flex;
    gap: 5px;
    padding: 5px 12px;
    margin-bottom: 0;
}

#pageButtons {
    display: flex;
    gap: 1px;
}

// Button styles
// Defines the appearance and behavior of pagination buttons
.custom-pagination-controls button {
    padding: 6px 12px;
    font-size: $pagination-font-size;
    cursor: pointer;
    background-color: $default-button-color;
    border: 1px solid $table-border-color;
    border-radius: 3px;
    min-width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color;
    transition: background-color $transition-duration ease;
}

.custom-pagination-controls button:hover {
    background-color: color.scale($default-button-color, $lightness: -10%);
}

.custom-pagination-controls button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}